body {
}

#ContentPlaceHolder_pnlProducts div
{
    float: left;
    width: 250px;
    height: 250px;
    text-align:center;
}

.productImage {

    width: 150px;
    height: 150px;
    vertical-align: central;
    padding: 10px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}

.productName{

    font-size: 15px;
    font-weight: bold;
}

.productPrice{

    font-family:Arial;
    color:red;
}

