body {
}
#register 
{

}
.inputs {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #808080;
    background: -moz-linear-gradient(top, #FFF, #808080 );
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #FFF), color-stop(1.0, #808080));
    border: 1px solid #CACACA;
    color: #444;
    margin: 0 0 25px;
    padding: 5px 9px;
    width: 260px;
}

.inputs:focus{
    background: #FFF;
    -webkit-box-shadow: 0 0 25px #CCC;
    -moz-box-shadow: 0 0 25px #ccc;
    box-shadow: 0 0 25px #CCC;
}